
  <div class="col-xs-2 col-md-2">
    <a href="<%= user_path(registration.passenger) %>">
      <img src="<%= gravatar_image_url(registration.passenger.email, size:50) %>" width="50" height="50" style="border-radius: 100px;"/>
    </a>
  </div>
