<li class="list-group-item">
  <div class="media">
    <div class="media-left">
      <a href="/users/<%= registration.passenger.id%>">
        <img class="media-object" src="<%= gravatar_image_url(registration.passenger.email, size:50) %>" width="50" height="50" style="border-radius: 100px;">
      </a> 
    </div>
    <div class="media-body registration-body">
      <% if registration.status == "pending" %>
        Status:  <span id="status<%= registration.id %>" class="registration-<%= registration.status %>"><%= registration.status %></span>
        <a href="javascript:void(0)" class="btn btn-default btn-xs btn-accept registration-process" data-status="accepted" data-confirm="Are you sure you want to accept this request?" data-registration-id="<%= registration.id %>">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">
          <span class="registration-text">Accept</span>
          </span>
        </a>
        <a href="javascript:void(0)" class="btn btn-default btn-xs btn-decline registration-process" data-status="declined" data-confirm="Are you sure you want to decline this request?" data-registration-id="<%= registration.id %>" role="button">
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true">
          <span class="registration-text">Decline</span>
          </span>
        </a>
      <% else %>
        Status:  <span id="status<%= registration.id %>" class="registration-<%= registration.status %>"><%= registration.status %></span>
      <% end %>
    </div>
  </div>
</li>