<div class="page-header" style="margin-top: 0px; color:white;">
  <h1>Find a trip </h1>
</div>
  <div class="row">
    <div class="col-md-4">
<div>
<div class="panel panel-primary">
      <div class="panel-heading">Coming up</div>
      <div class="panel-body">
        
        
          <% @next_trips.each do |trip| %>

            <div class="media media-list">
              <div class="media-left">
                <a href="#">
                 <img class="media-object" src="<%= gravatar_image_url(trip.driver.email, size:50) %>" width="50" height="50" style="border-radius: 100px;">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= link_to trip.title, trip_path(trip.id), class: "black" %></h4>
                <p style="color: gray;"><%= trip.departure.strftime("%a %b #{trip.departure.day.ordinalize}") %></p>
              </div>
            </div>
            <% end %>
        
      </div>
    </div>
  

</div>
    </div>
    <div class="col-md-8">
    <div class="panel panel-primary">
  <div class="panel-heading">Click on any marker to see more info about a trip.</div>
  <div class="panel-body">
      <div id="trip-list-map"></div>
    </div>
    
  </div>
</div>
  </div>


<script>$(document).ready(loadMap());</script>
