    <div class="row" style="color:white;">
    <div class="col-md-6 col-xs-6">
      
        <h2>Plan your trip</h2>
        <%= form_for [@user, @trip] do |f| %>
        <div class="form-group">
          <%= f.label :title %><br />
          <%= f.text_field :title, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :description %><br />
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :destination %><br />
          <%= f.text_field :destination, class: "form-control" %><br />
        </div>

        <div class="form-group">
          <label>Search for your trip starting point below or just click on the map</label>
          <input id="address" type="text" class="form-control" placeholder="Where is your trip starting?">
          <br/>
  
          <button class="btn btn-primary btn-sm" id="submit" type="submit">Search</button>
        </div>
        <input type="hidden" name="trip[latitude]" id="latitude">
        <input type="hidden" name="trip[longitude]" id="longitude">
        <br/>
        
        <div class="form-group">
          <%= f.label :departure_date %><br />
          <%= f.date_select :departure, class: " form-control" %>
        </div>
        <br/>
        
        <div class="actions">
          <%= f.submit "Save my trip!", class: "btn btn-primary" %>
        </div>
        <% end %>
      
    </div> 
    <div class="col-md-6 col-xs-6">
    
    <div id="new-trip-map"></div>
    
  </div>

</div> 

<script>
  $(function () {
    google.maps.event.addDomListener(window, 'load', createTripInitializeMap);
  })
</script>
      

