<div class="container">
  <div class="border-form-edit voll fadeIn fadeIn-1s">
    <div class="row">
      <div class="col-md-5">
        <h2 class="form-signin-heading white">Edit <%= resource_name.to_s.humanize %></h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: "inputs form-control", placeholder: "Email" %>
        </div>
        <div class="form-group textarea" rows="3">
          <%= f.text_area :bio, autofocus: true, class: "inputs form-control", style: "width: 300px", placeholder: "Write about yourself here..." %>
        </div>
        <div class="form-group">
          <%= f.text_field :climbing_grade, autofocus: true, class: "inputs form-control", placeholder: "climbing grade" %>
        </div>
        <div class="form-group textarea" rows="2">
          <%= f.text_area :favourite_spots, autofocus: true, class: "inputs form-control", style: "width: 300px", placeholder: "Your favourite climbing spots" %>
        </div>
        <div class="form-group textarea" rows="1">
          <%= f.text_area :climbing_style, autofocus: true, class: "inputs form-control", style: "width: 300px", placeholder: "What's your climbing style?" %>
        </div>
      </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        
        <div class="col-md-7">
          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off", class: "inputs form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "inputs form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class: "inputs form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "Update", class: "btn btn-primary edit_button" %>
          </div>
          <% end %>
          <h2 class="form-signin-heading white">Cancel my account</h2>
          <p class="white">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary delete_button" %></p>
          <%= link_to "Back", :back %>
        </div>
    </div>
  </div>
</div>