<html>
  <body>
    <h2>Hi, <%= @user.name %>!</h2>
    <p>
      Welcome to Gri-gri, you have successfully created an account. Happy climbing!
    </p>

    <p>Visit <a href="https://grigri.herokuapp.com">Gri-gri</a> and start planning your own trips or look for one with the easy to use mapping system</p>
    <%= yield %>
  </body>
</html>