<div class="modal fade" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class:"form-control" %>
        </div>
        <div class="form-group" rows="3">
          <%= f.text_area :bio, autofocus: true, placeholder: "Write about yourself here...", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_field :climbing_grade, autofocus: true, placeholder: "climbing grade", class:"form-control" %>
        </div>
        <div class="form-group" rows="2">
          <%= f.text_area :favourite_spots, autofocus: true, placeholder: "Your favourite climbing spots", class:"form-control" %>
        </div>
        <div class="form-group" rows="1">
          <%= f.text_area :climbing_style, autofocus: true, placeholder: "What's your climbing style?", class:"form-control" %>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Update", class: "btn btn-primary edit_button" %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>