<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">Trips I've joined</div>
    <div class="panel-body">
      <% if current_user.lifts.empty? %>
      <h4>You haven't joined a trip</h4>
      <a class="btn btn-primary btn-sm hvr-bounce-in" href="/trips" role="button">Find me a trip!</a>
      <% else %>
      <% current_user.lifts.each do |lift| %>
      <ul>
        <li style="list-style-type: none;"><%= link_to lift.title, trip_path(lift) %></li>
        <a href="/users/<%= lift.driver.id%>">
          <img class="media-object" src="<%= gravatar_image_url(lift.driver.email, size:50) %>" width="50" height="50">
        </a>The trip organiser
      </ul>
      <% end %>
      <% end %>
    </div>
  </div>
</div>