<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">Trips I've planned</div>
    <div class="panel-body">
      <% if current_user.trips.empty? %>
      <h4>You haven't planned any trips yet!</h4>
      <a class="btn btn-primary btn-sm hvr-bounce-in" href="/trips/new" role="button">Plan your own trip</a>
      <% else %>
      <% current_user.trips.each do |trip| %>
      <ul>
        <li style="list-style-type: none;"><%= link_to trip.title, trip_path(trip), class: "black-my-trips" %></li>
        <br/>
        <li style="list-style-type: none;">Passengers on this trip: <span class="badge my-trips"><%= trip.passengers.count %></span></li>
      </ul>
      <% end %>
      <% end %>
    </div>
  </div>
</div>