<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <span style="font-size: 26px; position: relative;"><%= @user.name %></span>
        <img src="<%= gravatar_image_url(@user.email, size:80) %>" width="80" height="80" style="border-radius:5px; border: solid 1px white; position: relative; float: right;">
      </div>
      <div class="panel-body">
        <h5>About me: </h5><p><%= @user.bio %></p>
      </div>
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item"><h5>Climbing grade: </h5><%= @user.climbing_grade %></li>
        <li class="list-group-item"><h5>Favourite spots: </h5><%= @user.favourite_spots %></li>
        <li class="list-group-item"><h5>Climbing style: </h5><%= @user.climbing_style %></li>
        <li class="list-group-item"><h5>Email: </h5><%= @user.email %></li>
        <% if current_user.id == @user.id %>
        <li class="list-group-item"><a class="btn btn-primary btn-md hvr-bounce-in" href="#" data-toggle="modal" data-target="#editModal" role="button">Edit my profile</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render "/users/edit_user" %>