<div class="row">
  <% if current_user.role == "driver" %>
    <%= render "users/planned_trips" %>
    <%= render "users/joined_trips" %>
  <% else %>
    <%= render "users/joined_trips" %>
  <% end %>
</div>