<html>
  <body>
    <h2>Hi, <%= @trip_registration.passenger.name %>!</h2>
    <p>
      Congratulations, <%= @trip_registration.trip.driver.name %> has accepted your request to join the trip.
    </p>

    <p>Please log in on: <a href="https://salty-brook-8939.herokuapp.com">Gri-gri</a> to check the meeting point and departure time fo the trip. Have a great trip and keep searching for more!</p>
    <%= yield %>
  </body>
</html>