<html>
  <body>
    <h2>Hi, <%= @trip_registration.passenger.name %>!</h2>
    <p>
      Unfortunately, <%= @trip_registration.trip.driver.name %> has declined your request to join the trip.
    </p>

    <p>Please log in on: <a href="https://salty-brook-8939.herokuapp.com">Gri-gri</a> to look for more trips. There are new trips being added everyday so keep searching and good luck!</p>
    <%= yield %>
  </body>
</html>