<html>
  <body>
    <h2>Hi, <%= @trip_registration.trip.driver.name %>!</h2>
    <p>
      You have a request from, <%= @trip_registration.passenger.name %> to join your trip.
    </p>

    <p>Please log in on: <a href="https://salty-brook-8939.herokuapp.com">Gri-gri</a>to accept or decline this request.</p>
    <%= yield %>
  </body>
</html>