<html>
  <body>
    <h2>Hi, <%= @trip_registration.passenger.name %>!</h2>
    <p>
      You have a pending request now on, <%= @trip_registration.trip.title %>.
    </p>

    <p>Please log in on: <a href="https://salty-brook-8939.herokuapp.com">Gri-gri</a> to check the status fo your request at any moment. You should also receive a notification email whenever the driver updates your request.</p>
    <%= yield %>
  </body>
</html>