<div class="modal fade" id ="welcomeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">How to use our app</h4>
      </div>
      <div class="modal-body">
        <p>Gri-gri is an app designed to bring like-minded people together and to make organising your trips easier whether you're the driver or the passenger. Read the steps below to have a clearer idea of how to start using the app.</p>
        <ul class="list-group">
          <li class="list-group-item">Update your user profile with the information you want other users to be able to see.</li>
          <li class="list-group-item">If you're a driver then get organising and with our easy-to-use map and form you will have your first trip available for other users to view in no time. Remember to include things like the number of spaces you have in the car, what type of routes you will be climbing and the grades. Most importantly, why you are offering spaces in your car. Are you looking for a climbing partner? Or maybe you just want to share fuel costs.</li>
          <li class="list-group-item">Passengers can use the interactive map to find trips leaving from a location near you. Find the link at the top of the page</li>
          <li class="list-group-item">Your homepage will display any trips coming up soon that you have organised yourself or requested to join.</li>
          <li class="list-group-item">You can view the status of all your requests and any requests made to join your trips in the "My trips" link.</li>
          <li class="list-group-item">If you want to view this tutorial again just click on the "Tutorial" link at the bottom of the page any time.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->