<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Your trips coming up</div>
      <div class="panel-body">
        <% if current_user.upcoming.empty? && current_user.soon.empty? %>
          <h4>What's going on? No trips yet!</h4>
          <a class="btn btn-primary btn-sm hvr-bounce-in" href="/trips/new" role="button">Plan your own trip</a>
          <a class="btn btn-primary btn-sm hvr-bounce-in" href="/trips" role="button">Find me a trip!</a>
        <% else %>
        <ul style="list-style-type: none;">
          <% current_user.upcoming.each do |trips| %>
          <li><%= link_to trips.title, trip_path(trips.id) %></li>
          
          <br/>
          <li><%= trips.departure.strftime("%a %b #{trips.departure.day.ordinalize}") %></li>
          <br/>
          <% end %>
          <% current_user.soon.each do |lifts| %>
          <li><%= link_to lifts.title, trip_path(lifts.id) %></li>
          <br/>
          <li><%= lifts.departure.strftime("%a %b #{lifts.departure.day.ordinalize}") %></li>
          <br/>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
    
    
  </div>
  <div class="col-md-8">
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:centre;">Best photos of the month sent in by you</h3>
  </div>
  <div class="panel-body">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/assets/Honnold-topout.jpg" alt="...">
          <div class="carousel-caption">
            
          </div>
        </div>
        <div class="item">
          <img src="/assets/profile.jpg" alt="...">
          <div class="carousel-caption">
            
          </div>
        </div>
        <div class="item">
          <img src="/assets/indiancreek.jpg" alt="...">
          <div class="carousel-caption">
            
          </div>
        </div>
        
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
    
  </div>
</div>

<% if current_user.sign_in_count == 1 %>
<%= render "home/welcome_tutorial" %>
<script>
$(document).ready(function($){
  if (Cookies.get('modal') == null) {
    $('#welcomeModal').modal('show');
    Cookies.set('modal', 28);
  }
});
</script>
<% end %>