var loadMap = function(containerId, centre){
  if(!containerId) containerId = 'trip-list-map';
  if(!centre) centre = [41.3917782, 2.1772809999999936];

  var Hydda = L.tileLayer("//{s}.tile.openstreetmap.se/hydda/roads_and_labels/{z}/{x}/{y}.png", {
    attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  });

 
  var mapBox = L.tileLayer("//api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia2V2cHJpY2U4MyIsImEiOiJkZThlZmY3ZDYzZjczMDU4Y2QyYWY4ODQ2YTdlNzRiZiJ9.K67HwEzHeBwJx2z3lOrIyA", {
       maxZoom: 18,
       id: "kevprice83.11e32e81"
   });

  var myIcon = L.icon({
      iconUrl: '/assets/images/marker-icon-2x.png',
      iconSize: [25, 41]
    });


  var map = L.map(containerId, {
    center: centre,
    zoom: 13,
    layers: [mapBox, Hydda]
  });
  
  function tripIndex(trips) {
    var allMarkers = [];
    trips.forEach(function(data) { 
      allMarkers.push([data.latitude, data.longitude]);
      var marker = L.marker([data.latitude, data.longitude], { icon: myIcon}).addTo(map);
      var momentDate = moment(data.departure).format("MMM, Do")
      marker.bindPopup('<a href="/trips/' + data.id + '">' + data.title + '</a><br/><p>Leaving on: ' + momentDate + '</p>');
    });
  }

  function tripShow(trip) {
    L.marker([trip.latitude, trip.longitude], { icon: myIcon }).addTo(map);
  }

  function handleError(error) { 
  }

  if(containerId == 'trip-list-map') {
    $.ajax({
      url: "/api/trips",
      type: 'get',
      success: tripIndex,
      error: handleError,
      datatype: "json"
    });
  }   else if(containerId === 'trip-map-container') {
        tripId = $('#trip_id').data("id");
        url = "/api/trips/" + tripId
        $.ajax({
          url: url,
          type: 'get',
          success: tripShow,
          error: handleError,
          datatype: "json"
        });
        
      }
};