/* variables */
$green: #8FCF45;

$red: #D05944;

$blue: #337ab7;

$grey: #ddd;

$black: #000;

$dark-grey: #666;

$white: #FFF;

$hover-grey: #ECE9E6;

$hover-white: #FFFFFF;

@mixin registration_button {
  height: 20px;
  width:  70px;
  border-radius: 5px;
  position: relative;
  float: right;
  color: $grey;
  text-decoration:none;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

@mixin update_button {
  margin-bottom: 10px;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  border: 0;
}

@mixin hover_button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
