/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
*= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'landing';
@import 'trip_registrations';
@import 'trips';
@import 'registrations';
@import 'users';

/* Fade buttons on navbar*/
.hvr-fade-left {
  @include hover_button;
}
.hvr-fade-left:hover, .hvr-fade-left:focus, .hvr-fade-left:active {
  background-color: $hover-grey;
  color: white;
}

.hvr-fade-right {
  @include hover_button;
}
.hvr-fade-right:hover, .hvr-fade-right:focus, .hvr-fade-left:active {
  background-color: $hover-white;
  color: white;
}

/* background body colour */
body {
  font-family: Ubuntu;
  background-color: #4a525a;
  margin-bottom: 60px;
}

/* navbar and profile image styling */

.navcolour {
  text-transform: uppercase;
  background-color: $blue;
  border-top: 0px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
  box-shadow: 3px 0px 10px 5px #3A3B40;
}
.navbar-nav > div, #grav {
  display: block;
  margin: auto;
  border-radius: 100%;
  border: solid thin #1A67A9;
  width: 50px;
  height: 50px;
}

.navbar-default .navbar-nav >li > a {
  color: $white;
}
.navbar-default .navbar-brand {
  color: $white;
}

/* Style Devise Flash messages like Bootstrap */
.alert-alert {
  @extend .alert-warning;
}

/* Style Devise Flash messages like Bootstrap */
.alert-notice {
  @extend .alert-success;
}

/* Bouncing buttons styling */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Footer styling */
.footer {
  text-align: center;   
  width: 100%;
  background-color: transparent;
}

.footer-link {
  color: white;
}