@import 'base';

.delete_button {
  @include update_button;
  background: -webkit-gradient(linear, left top, left bottom, from($dark-grey), to($black));
  background: -moz-linear-gradient(top, $dark-grey, $black);
  background: -o-linear-gradient(top, $dark-grey, $black);
  background: linear-gradient(top, $dark-grey, $black);
}

.edit_button {
  @include update_button;
  background: -webkit-gradient(linear, left top, left bottom, from(dark-grey), to(#white));
  background: -moz-linear-gradient(top, dark-grey, #white);
  background: -o-linear-gradient(top, dark-grey, #white);
  background: linear-gradient(top, dark-grey, #white);
}
