@import 'base';

/* trip show view */
.delete_button {
  @include update_button;
  background: -webkit-gradient(linear, left top, left bottom, from(dark-grey), to($black));
  background: -moz-linear-gradient(top, dark-grey, $black);
  background: -o-linear-gradient(top, dark-grey, $black);
  background: linear-gradient(top, dark-grey, $black);
}

/* trip list separation */
.media-list {
  border-bottom: solid 1px #e1e8ed;
}

/* map containers */
#new-trip-map { 
  height:400px; 
  box-shadow: 3px 3px 4px 4px #3A3B40;
  border-radius: 5px;
  z-index: 0;
}
#trip-list-map {
  height: 400px;
}
#trip-map-container {
  height: 400px;
}

/* trip-links title styling */
.black {
  font-weight: 200;
  color: black;
  text-decoration: underline;
  text-decoration-color: #337ab7;
}
.black-my-trips {
  text-decoration: underline;
  text-decoration-color: #337ab7;
}
.my-trips {
  background-color: #8AC007;
}
