@import 'base';

.btn-decline {
  @include registration_button;
  background: $red;
  background: -webkit-gradient(linear, left top, left bottom, from($red), to($black));
  background: -moz-linear-gradient(top, $red, $black);
  background: -o-linear-gradient(top, $red, $black);
  background: linear-gradient(top, $red, $black);
}

.btn-accept {
  @include registration_button;
  margin-left: 5px;
  background: $green;
  background: -webkit-gradient(linear, left top, left bottom, from($green), to($black));
  background: -moz-linear-gradient(top, $green, $black);
  background: -o-linear-gradient(top, $green, $black);
  background: linear-gradient(top, $green, $black);
}

.registration-body {
  vertical-align: center;
}
.registration-accepted {
  color: $green;
}

.registration-pending {
  color: $blue;
}

.registration-declined {
  color: $red;
}

.registration-text {
  position: relative;
  bottom: 2px;
  left: -9px;
}