@import 'base';

.edit_button {
  @include update_button;
  background: -webkit-gradient(linear, left top, left bottom, from(dark-grey), to(#white));
  background: -moz-linear-gradient(top, dark-grey, #white);
  background: -o-linear-gradient(top, dark-grey, #white);
  background: linear-gradient(top, dark-grey, #white);
}