<div class="navbar-fixed-bottom footer">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="footer-link" href="#" data-toggle="modal" data-target="#welcomeModal">Tutorial</a>
    </div>
  </div>
</div>