<nav class="navbar navbar-default navcolour">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="hvr-fade-left"><%= link_to 'Trips', trips_path %></li>
        <% if current_user.role == "driver" %>
        <li class="hvr-fade-left"><%= link_to 'Plan a trip', new_trip_path %></li>
        <% end %>
      </ul>
      
      <div class="col-md-3 col-md-offset-3" style="height:50px;">
       <ul class="nav navbar-nav">
        <li>
          <a href="/" style="padding-top:10px;">
            <img alt="Gri-gri" src="/assets/favicon.jpg" width="30" height="30" style="border-radius:2px;">
            <span style="font-size: 18px;">Gri-gri</span>
          </a>
        </li>
        <li class="hvr-fade-left"></li>
      </ul>
      </div>
      
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        
          <li>
             
              <a href="/users/<%= current_user.id %>" style="padding: 0px;"><img class="media-object" id="grav" src="<%= gravatar_image_url(current_user.email, size: 50) %>"></a>
            
          </li>
          <li class="hvr-fade-right"><%= link_to 'My trips', my_trips_path(@user) %></li>
          <li class="hvr-fade-right"><%= link_to 'Log out', destroy_user_session_path, method: 'DELETE' %></li>
          <% else %>
          <li class="hvr-fade-right"><%= link_to 'Log in', new_user_session_path %></li>
        </ul>
        <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>