<!DOCTYPE html>
<html>
  <head>
    <title>Gri-gri</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.jpg' %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Vollkorn">
    <meta content="width=device-width, initial-scale=1" name="viewport">
  </head>
  <body>
  <% if current_user.present? %>
    <%= render "layouts/navbar" %>
    <%= render "layouts/flash_messages" %>
    
    <%= render "layouts/background_items" %>
    <%= render "layouts/footer" %>
    <% end %>
    <%= render "home/welcome_tutorial" %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=#{GOOGLEMAPS}"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>